HTTP/1.0 504 Gateway Time-out
Cache-Control: no-cache
Connection: close
Content-Type: <%= @content_type %>

<html>

<head>
 <title>hello there</title>
</head>

<body>
<h1>hello there</h1>
<p>lorum ipsum</p>

</body>

</html>